#home
  width 1920px
  height 1080px
  border 1px solid #f44438

  .blueBgColor
    background #87AAC4 !important
    box-shadow 0 0 99px #87AAC4 !important

  .blueTColor
    color #87AAC4 !important

  .CenterInput
    height 87px
    width 522px
    position relative
    top 112px
    left 699px
    border-radius 5px

  .plusBtn
    position absolute
    top 112px
    left 1134px
    width 87px
    height 87px
    background #F44438 0% 0%
    border-radius 0px 5px 5px 0px
    border none
    display flex
    justify-content center
    align-items center
      
  .plus
    color white   

  .square
    width 410px
    height  410px
    background #f44438
    position relative
    top 264px
    left 755px 
    border-radius 50px
    box-shadow 0 0 99px #f44438

  .progress
    position absolute
    top 1037px
    left 0
    width 1920px
    height 43px
    background #f44438

  .List
    background rgba(0,0,0,0)
    border 0
    position absolute
    top 95px
    left 1700px

  .list
    color #f44438

  .start
    width 175px
    height 83px
    border-radius 50px 0px
    position absolute
    top 697px
    left 992px
    background white
    border 0
    color #f44438
    font-family Arial Rounded MT
    font-weight bold
    font-size 40px 
    z-index 3

  .Reset
    width 175px
    height 83px
    border-radius 50px 0px
    position absolute
    top 697px
    left 992px
    background white
    border 0
    color #f44438
    font-family Arial Rounded MT
    font-weight bold
    font-size 40px 
    z-index 2
    // display: none
  
  h2
    font-family Arial Rounded MT 
    font-weight bold   
    font-size 45px
    color #595959
  
  h2.W
    text-decoration underline
    position absolute
    top 857px
    left 775px

  .breakColor 
    color #ADADAD !important
    text-decoration none !important

  h2.B-2
    position absolute
    text-decoration underline
    top 857px
    left 1038px

  ul
    position absolute
    top 600px
    left 161px

  li
    font-size 30px
    list-style none
    color #7E7E7E
    position relative
    line-height 30px
    margin-bottom 40px

  .red-dot
    width 15px
    height 15px
    background #F44438
    border-radius 50%
    position absolute
    top 10px    
    left -35px

  p
    font-size 20px
    color #7E7E7E
    position absolute
    top 880px
    left 161px
  
  h1
    font-family Arial Rounded MT, Bold
    font-size 170px
    font-weight bold
    color white
    position absolute
    top 460px
    left 860px

  h5
    font-family Arial Rounded MT, Bold
    font-size 40px
    font-weight bold
    color white
    position absolute
    top 590px
    left 1064px

#list
  width 1920px
  height 1080px
  background #444444

  .CenterInput
    height 87px
    width 522px
    position relative
    top 112px
    left 699px
    border-radius 5px

  .plusBtn
    position absolute
    top 112px
    left 1134px
    width 87px
    height 87px
    background #F44438 0% 0%
    border-radius 0px 5px 5px 0px
    border none
    display flex
    justify-content center
    align-items center
      
  .plus
    color white   

  .Back
    background rgba(0,0,0,0)
    border 0
    position absolute
    top 70px
    left 1680px

  .back
    color #f44438

  h2
    font-family Arial Rounded MT 
    font-weight bold   
    font-size 50px
    color white
  
  h2.A
    position absolute
    top 368px
    left 383px

  h2.H
    position absolute
    top 368px
    left 1281px

  .line
    width 4px
    height 493px
    background white
    opacity 20%
    position absolute
    top 369px
    left 961px
  
  .all li
    list-style none
    position relative

  .circle
    width 32px
    height 32px
    border-radius 50%
    border 5px solid white
    position absolute
    top 20px
    left -50px
    display flex
    justify-content center
    align-items center

  .dot
    width 12px
    height 12px
    border-radius 50%
    background white
    display none  

  input[type="checkbox"]
    display none
  input[type="checkbox"]:checked+div .dot
    display block

  .text
    font-family Arial
    font-size 30px
    color white
    font-weight normal

  .all
    position relative
    top 25px
    left 10px

  .Had 
    position relative
    top 25px
    left: 15px